[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shroomdk = "*"
abacusai = "*"
beautifulsoup4 = "*"
psycopg2-binary = "*"
django = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
