
.top_navbar {
	background: #195f90 !important;
	border-bottom: 1px solid #195f90
}

.sidebar.h_menu {
	background: #195f90
}

section.content::before {
	background: #195f90
}


.theme-blue .active-bg {
	background: rgb(24, 26, 32);
	color: #fff
}