{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html class="no-js " lang="LANGUAGE_CODE">
<head>

    {% include "includes/_base-head.html" %}{% block extra_css %}{% endblock extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    {% block extra_styles %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">

</head>
<body class="theme-blue" style="background-image: url('/static/images/icons/purple_yellow _background.png');
                                background-size: cover;
                                background-position: center">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" width="48" height="48" alt="spotlight" src="{% static 'images/icons/logo_spotlight.svg' %}"></div>
            <p>{% trans "Please wait..." %}</p>        
        </div>
    </div>
    <div class="overlay"></div>

   
    <!-- Top Bar -->
    <nav class="top_navbar">
        <div class="container">
            <div class="row clearfix">
                <div class="col-12">
                    <div class="navbar-logo">
                        <a href="javascript:void(0);" class="bars"></a>
                        <a class="navbar-brand" href="http://www.nft-spotlight.xyz/"><img src="{% static 'images/icons/logo_spotlight.svg' %}" width="44px" alt="Spotlight">
                            <img src="{% static 'images/icons/text_spotlight.svg' %}" width="166px" alt="Spotlight">
                        <span class="m-l-10"></span></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li>
                        <!-- <input id='connectWallet' onclick="" type="image" name="Meta mask" src="{% static 'images/icons/metamask.webp' %}" style="width: 47px;
                        margin-top: 14px;" alt="meta mask">   -->

                          <!-- <button id='connectWallet' onclick="">Connect Wallet</button> -->
                                
                        </li>
                    </ul>
                  
                </div>
            </div>        
        </div>
    </nav>

    {% include "includes/_menu.html" %}
    <section class="content profile_page">
        <div class="container">
            <!-- Strart Breadcrumbs Section -->
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body block-header">
                            <div class="row">
                                <div class="col-lg-6 col-md-8 col-sm-12">
                                    <h2>{% block title %}{% endblock %}</h2>
                                    <ul class="breadcrumb p-l-0 p-b-0 ">
                                        {% block breadcrumb %}{% endblock %}
                                    </ul>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcrumbs Section -->
           
            <!-- Start Main Content Section -->
            <div class="row">
                {% block content %} {% endblock %}
                    
            </div>

            <div class="row clearfix">
                <div class="col-md-12 col-lg-12">
                    <hr>
                    <div class="card" style="margin-bottom: 6px !important;">

                        <div class="container">
                            <div class="row py-5 py-md-0 p-md-5">
                                <div
                                    class="col-sm-3 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-start align-items-center ">
                                    <img src="{% static 'images/icons/logo_circle.svg' %}" width="79px" alt="Spotlight"> <span
                                        class="ml-3">&copy;2022 NFT Spotlight</span>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 my-3 my-md-0 d-flex align-items-center justify-content-center">
                                    <a href="" class="footer-link mr-4"  style="pointer-events: none;">Terms and Condition</a>
                                    <a class="disclaimer footer-link mr-4" style="color: #1ab1e3;cursor: pointer;">Disclaimer</a>
                                    <a href="" class="footer-link mr-4"  style="pointer-events: none;">Privacy Policy</a>
                                    <a href="{% url 'roadmap' %}" target="_blank" class="footer-link">Road Map</a>
                                </div>
                                <div
                                    class="col-sm-3 col-md-6 col-lg-3 d-flex justify-content-center justify-content-md-end  align-items-center">
                                    <img src="{% static 'images/icons/discord.png' %}" width="31px" alt="discord">
                                    <a href="https://twitter.com/spotlight_nft" class="mx-2" target="_blank">
                                        <img src="{% static 'images/icons/twitter.svg' %}" width="25px" alt="twitter">
                                    </a>
                                    <img src="{% static 'images/icons/linkedin.png' %}" width="25px" alt="linkedin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top: 12px; margin-bottom: 12px;">
                        <div class="col-lg-6 col-md-12 col-sm-12" style="text-align: right;margin-left: -64px;">
                            <span style="color: black; font-weight: 400; margin-right: 17px; font-size: 18px;">Data by</span> 
                            <a href="https://flipsidecrypto.xyz/" target="_blank">
                                <img src="{% static 'images/icons/flipside_logo.svg' %}" width="34px" alt="Flipside">
                                <img src="{% static 'images/icons/flipside crypto.svg' %}" width="132px" alt="Flipside"
                                    style="margin-left: 10px;">
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix" style="margin-left: 34px;">
                                <span style="color: black; font-weight: 400;margin-top: 5px; margin-right: 17px;font-size: 18px;"> Powered by</span> 
                                <a href="https://www.algorand.com/" target="_blank">
                                    <img src="{% static 'images/icons/algorand.png' %}" width="125px" alt="Axelar">
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
            
            <!-- End Main Content Section -->
        </div>
        
    </section>
 
    <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
    <script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="{% static 'assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script> <!-- Bootstrap Colorpicker Js --> 
    <script src="{% static 'assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script> <!-- Input Mask Plugin Js --> 
    <script src="{% static 'assets/plugins/multi-select/js/jquery.multi-select.js' %}"></script> <!-- Multi Select Plugin Js --> 
    <script src="{% static 'assets/plugins/jquery-spinner/js/jquery.spinner.js' %}"></script> <!-- Jquery Spinner Plugin Js --> 
    <script src="{% static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script> <!-- Bootstrap Tags Input Plugin Js --> 
    <script src="{% static 'assets/plugins/nouislider/nouislider.js' %}"></script> <!-- noUISlider Plugin Js --> 
    <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script> <!-- noUISlider Plugin Js --> 
    <script src="{% static 'assets/plugins/bootstrap-notify/bootstrap-notify.js' %}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

    <script src="assets/bundles/mainscripts.bundle.js"></script>
   

    {% include "includes/_base-scripts.inc" %}
    {% block scripts %}{% endblock %}
</body>

</html>

