{% extends "base-home.html" %}
{% load l10n %}
{% load static %}

{% block title %}
Collection Explorer   
{% endblock %}

{% block breadcrumb %}
   
{% endblock %}


{% block content %}

    
{% endblock %}

{% block scripts %}
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->
<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script src="assets/js/pages/widgets/infobox/infobox-1.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock %} 
